:root {
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: 3em;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    background-color: lightblue;
    z-index: 1;
}

.header-container {
    justify-content: space-between;
    align-items: center;
}

.gameboard-link-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameboard-link {
    text-decoration: none;
    color: black;
}

.gameboard-link:hover {
    opacity: 0.75;
}

.gameboard-link + .gameboard-link {
    margin-left: 10px;
}

.timer-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    border: 1px solid rgb(221, 221, 221);
    padding: 1em;
}

.character-menu-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 83%;
    background-color: rgb(240, 235, 235);
    padding: 0.5em 1em;
    box-shadow: 0 2px 5px gray;
}

.character-menu-item + .character-menu-item {
    margin-top: 10px;
}

.character-menu-item > img {
    height: clamp(50px, 10vh, 150px);
    box-shadow: 0 2px 5px gray;
}

.character-menu-item > p {
    margin: auto 0 auto 10px;
}

.inactive {
    opacity: 0.05;
    pointer-events: none;
}

.gameboard-img {
    display: block;
    margin: 2em auto 3em auto;
    width: 70%;
}

.dropdown {
    background-color: white;
    position: absolute;
    font-size: 0.75rem;
    width: 10%;
}

.dropdown-item {
    margin: 0;
    padding: 0.5em;
}

.dropdown-item:hover {
    background-color: lightgray;
}

.popup {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 35%;
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 2em;
    border-radius: 1em;
}

.submit-time-popup {
    text-align: center;
}

.input {
    align-items: center;
}

.input > input {
    max-width: 250px;
}

.submit-time-form-actions {
    margin-top: 1em;
}

.leaderboard-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.leaderboard-container {
    align-items: flex-end;
}

.leaderboard-table tr {
    border-bottom: 1px solid #ddd;
}

.leaderboard-table > tbody tr:nth-child(1) {
    background-color: rgb(231, 202, 36);
}

.leaderboard-table > tbody tr:nth-child(2) {
    background-color: rgb(170, 169, 173);
}

.leaderboard-table > tbody tr:nth-child(3) {
    background-color: rgb(205, 127, 50);
}

.btn {
    border: none;
    padding: 0.5em 1em;
}

.btn:hover {
    opacity: 0.75;
}

.close-btn {
    color: rgb(231, 66, 66);
    font-weight: bold;
}

.action-btn {
    background-color: rgb(231, 66, 66);
    color: white;
    border-radius: 100px;
    font-weight: bold;
}

.secondary-btn {
    background-color: transparent;
    color: rgb(231, 66, 66);
    font-weight: bold;
    border-radius: 100px;
    border: 2px solid rgb(231, 66, 66);
}
